<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.qingming">
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--发短信-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yls_03"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.qingming.HomePageBottomActivity" android:launchMode="singleTop"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".contacts.CustomerAddressActivity"/><!--客户通讯录-->
        <activity android:name=".news.casedetails.CaseDetailsActivity"/><!--案件详情-->
        <activity android:name=".news.casedetails.CaseIntroduction"/><!--案件简介-->
        <activity android:name=".news.casedetails.CustomerDetailsActivity"/><!--客户详情-->
        <activity android:name=".news.casedetails.AddConsignorActivity"/><!--添加委托人页面-->
        <activity android:name=".contacts.ContactDetailsActivity"/><!--联系人详情-->
        <activity android:name=".work.ConflictofInterestActivity"/><!--利益冲突预测页面-->
        <activity android:name=".work.AddCaseActivity"/><!--新增案件页面-->
        <activity android:name=".work.CaseRegisterActivity"/><!--案件登记页面-->
        <activity android:name=".work.CaseManageActivity"/><!--案件管理页面-->
        <activity android:name=".news.casedetails.CreateWorkLogActivity"/><!--创建工作日志页面-->
        <activity android:name=".activity.AddChargeActivity"/><!--添加收款信息页面-->
        <activity android:name=".activity.ZhenChaActivity" /><!--添加侦查机关页面-->
        <activity android:name=".activity.JianChaActivity"/><!--添加检察机关页面-->
        <activity android:name=".activity.FaYuanActivity"/><!--添加法院页面-->
        <activity android:name=".news.casedetails.CreateWorkActivity" android:launchMode="singleTask"/><!--工作日志页面-->
        <activity android:name=".activity.MyCaseActivity" android:launchMode="singleTask"/><!--我的案件页面-->
        <activity android:name=".work.ExamineActivity"/><!--进入审批页面-->

        <!--<activity android:name=".wuyong.RegsterActivity"/>&lt;!&ndash;注册页面&ndash;&gt;-->
        <!--<activity android:name=".wuyong.CalendarActivity"/>&lt;!&ndash;日历页面&ndash;&gt;-->
        <!--<activity android:name=".wuyong.AddAffairActivity" />&lt;!&ndash;新增事件页面&ndash;&gt;-->
        <!--<activity android:name=".wuyong.WorkLogActivity"/>&lt;!&ndash;总工作日志页面&ndash;&gt;-->
        <!--<activity android:name=".wuyong.HomePageActivity"/>&lt;!&ndash;主页&ndash;&gt;-->

        <activity android:name=".activity.NewsActivity"/><!--消息页面-->
        <activity android:name=".activity.MeActivity"/><!--本人信息页面-->
        <activity android:name=".activity.FilesActivity"/><!--文件页面-->
        <activity android:name=".activity.WorkActivity"/><!--工具页面-->
        <activity android:name=".ExamineAndApproveActivity"/><!--审批页面-->
        <activity android:name=".activity.PressActivity"/><!--新闻页面-->
        <activity android:name=".activity.IntoPressActivity"/><!--进入新闻页面-->
        <activity android:name=".activity.ChangeActivity"/><!--变更律师页面-->
        <activity android:name=".activity.ChangeLvshiActivity"/><!--进入变更律师页面-->
        <activity android:name=".activity.MapActivity"/><!--签到页面-->
        <activity android:name=".activity.ChargeListActivity"/><!--收款信息页面-->
        <activity android:name=".activity.CaseShenPiActivity"/>
        <activity android:name=".activity.KaoQinActivity"/>
        <activity android:name=".activity.FaPiaoActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.ShoufeiActivity"/>
        <activity android:name=".activity.LszsActivity"/><!--律师助手页面-->
        <activity android:name=".activity.FaLvActivity"/>
        <activity android:name=".activity.LsszActivity"/>
        <activity android:name=".activity.WorkJusuanActivity"/>
        <activity android:name=".activity.LsfjsActivity"/>
        <activity android:name=".activity.SsfJsActivity"/>
        <activity android:name=".activity.AddFaPiaoActivity"/><!--发票详情页面-->
        <activity android:name=".activity.SealApplyForActivity" android:launchMode="singleTask"/><!--公章申请页面-->
        <activity android:name=".activity.SealApplyForDetailsActivity"/><!--公章申请修改页面-->
        <activity android:name=".activity.SealApplyForDetailsPngListActivity"/>
        <activity android:name=".activity.SealPngActivity"/>
        <activity android:name=".activity.SealApplyForAddActivity"/>
        <activity android:name=".activity.SealShenPiActivity" android:launchMode="singleTask"/><!--公章审批页面-->
        <activity android:name=".activity.SealShenPiDetailsActivity"/>

        <!--百度定位-->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="TgH2lpazSrePfGhk7ftmBUdnsvyYS56T"/>  <!--key:开发者申请的Key-->

        <!--bugly-->
        <!--<activity-->
            <!--android:name="com.tencent.bugly.beta.ui.BetaActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize|locale"-->
            <!--android:theme="@android:style/Theme.Translucent" />-->

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths"/>-->
        <!--</provider>-->
    </application>

</manifest>